Repository cse110-sp24-group10/cse110-sp24-group10, pull requests merged in 2024-06, with the labels that each got.

#55 Create 053124-unit-test-tool.md
  053124-unit-test-tool.md
Labels: documentation

#68 made a footer component that is used across pages, allows user to tab…
  source/calendar/calendar.css
  source/calendar/calendar.html
  source/components/bottom-bar.js
  source/journal/journal.html
  source/tasks/tasks.html
Labels: enhancement, task list, calendar, journal, priority: medium

#71 Create 06-04-2024-sprint2-retro.md
  admin/meetings/06-04-2024-sprint2-retro.md
Labels: documentation

#76 Implemented codemirror, prev/next buttons, and partial completion of pulling tasks/tags from task list
  package.json
  source/journal/journal.css
  source/journal/journal.html
  source/journal/journal.js
Labels: journal

#87 Added animation and different styling to footer buttons
  source/components/bottom-bar.js
Labels: enhancement

#96 Added pulling tasks/tags from localstorage onto journal
  source/calendar/calendar.js
  source/journal/journal.css
  source/journal/journal.html
  source/journal/journal.js
  source/tasks/tasks.css
  source/tasks/tasks.html
  source/tasks/tasks.js
Labels: journal, priority: high

#98 Added styling for tasks within popup in Calendar
  source/calendar/calendar.css
  source/calendar/calendar.js
  source/tests/calendar.test.js
Labels: enhancement, calendar

#99 Removed cog and updated bug where if a day has multiple tasks with the same tag, the tag at the top would be duplicated
  source/journal/journal.js
  source/journal/settingsCog-min.png
Labels: bug, journal

#102 Fixed bug where empty difficulty displayed as "very hard"
  source/journal/journal.js
Labels: bug, journal, priority: high

#105 Calendar dev -> Favicon and Owl Logo
  admin/branding/favicon-32x32.png
  source/calendar/calendar.css
  source/calendar/calendar.html
  source/calendar/favicon-16x16.png
  source/components/vintageOwl.png
  source/journal/journal.css
  source/journal/journal.html
  source/tasks/tasks.css
  source/tasks/tasks.html
Labels: enhancement, task list, calendar, journal

#109 CALENDAR TESTS WORKING - FIXES TO NON WORKING AND UPDATES TO MOST
  source/calendar/calendar.html
  source/tests/calendar.test.js
Labels: calendar

#110 mobile, jsdoc, and keyboard functionality added
  source/calendar/calendar.css
  source/calendar/calendar.js
Labels: documentation, enhancement, calendar, user story
