Repository cse110-sp24-group10/cse110-sp24-group10, pull requests merged in 2024-05, with the labels that each got.

#42 Create source-code-architecture.md
  specs/adrs/source-code-architecture.md
Labels: documentation

#41 Calendar dev Sprint 1
  source/calendar/arrow_forward_ios_24dp_FILL0_wght400_GRAD0_opsz24.png
  source/calendar/calendar.css
  source/calendar/calendar.html
  source/calendar/calendar.js
Labels: calendar

#38 Journal dev
  source/journal/journal.css
  source/journal/journal.html
  source/journal/journal.js
  source/journal/settingsCog-min.png
Labels: journal
